.container {
  // padding-bottom: 140px !important;x
}

.header {
  max-width: var(--section-header-max-width);
  margin: 0 auto;
  margin-top: 4vh;
}

.title {
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  line-height: var(--h1-line-height);
  letter-spacing: var(--h1-letter-spacing);
  font-family: var(--h1-font-family);
  text-align: center;
  margin-bottom: 21px;
}

.subtitle {
  font-size: var(--subtitle-font-size);
  font-weight: var(--subtitle-font-weight);
  line-height: var(--subtitle-line-height);
  letter-spacing: var(--subtitle-letter-spacing);
  font-family: var(--subtitle-font-family);
  text-align: center;
  color: var(--text);
}

.subscribe {
  margin: 0 auto;
  margin-top: 32px;
  max-width: 550px;
}

.illustration {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../../../public/Images/porta.webp");
  background-color: #eee;

  height: 50vh;
  margin: 0 auto;
  box-shadow: inset 0px 0px 20px 20px rgba(0, 0, 0, 0.7);
  border-radius: 8px;

  @media screen and (max-width: 470px) {
    transform: translate(10px, 10px);
  }

  @supports (-webkit-touch-callout: none) {
    background-attachment: local !important;
  }

  @supports ((-webkit-hyphens:none)) and ((-moz-appearance:none)) and (not (list-style-type:"*")) {
    background-attachment: local !important;
  }
}