.container {

}

.header {
  max-width: var(--section-header-max-width);
  margin: 0 auto;
  margin-bottom: 6vh;
}

.title {
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  line-height: var(--h1-line-height);
  font-family: var(--h1-font-family);
  letter-spacing: var(--h1-letter-spacing);
  text-align: center;
  margin-bottom: 16px;
}

.subtitle {
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-letter-spacing);
  font-family: var(--body-font-family);
  text-align: center;
  color: var(--text-shade);
}

.highlights {
  list-style: none;
  padding: 0;
  margin: 0;
}

.highlight {
  max-width: var(--list-item-max-width);
  margin: 0 auto;
  margin-bottom: 48px;
}
.highlight:nth-child(even) {
  flex-direction: row-reverse;
}
.highlight:last-child {
  margin-bottom: 0;
}

.highlight-illustration {
  min-width: 30vw;
  max-width: 100%;
  max-height: 50vh;
  min-height: 20vh;
  background: #eee;
  border-radius: 8px;

  border-right: 6px solid var(--accent);
  border-left: 6px solid var(--accent);
  // box-shadow: -15px -14px 2px 0px #0000004d;
}

.highlight-content {
  margin-top: 16px;
}

.highlight-title {
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
  line-height: var(--h2-line-height);
  font-family: var(--h2-font-family);
  letter-spacing: var(--h2-letter-spacing);
  margin-bottom: 16px;
}

.highlight-text {
  color: var(--text-shade);
}

@media screen and (min-width: 800px) {
  .highlight {
    display: flex;
    align-items: center;
    justify-content: stretch;
    max-width: initial;
  }
  .highlight-illustration {}
  .highlight-content {
    flex: 1 1 0;
    margin-left: 48px;
    margin-top: 0;
  }
  .highlight:nth-child(even) .highlight-content {
    margin-left: 0;
    margin-right: 48px;
  }
}
