.container {
  left: 25vw;
  bottom: 2vh;
  width: 50%;
  position: fixed;
  display: flex;
  align-items: stretch;
  border-radius: 7px;
  padding: 0.5vw;
  overflow: hidden;

  a {
    width: 100%;
    // position: fixed;
  }
}

.input:focus {
  outline: none;
  background: lightyellow;
}

.pooh {
  position: absolute;
  z-index: -1;
}

.button {
  flex: 0 0 auto;
  padding: 12px 24px;
  width: 100%;
  justify-content: center;

  &.showButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
}