.container {
  position: relative;
  display: flex;
  align-items: stretch;
  box-shadow: 0 4px 18px #0002;
  border-radius: 7px;
  padding: 0.5vw;
  // background: #fff;
  overflow: hidden;

  a {
    width: 100%;
    // position: fixed;
  }
}

.input:focus {
  outline: none;
  background: lightyellow;
}

.pooh {
  position: absolute;
  z-index: -1;
}

.button {
  flex: 0 0 auto;
  padding: 12px 24px;
  width: 100%;
  justify-content: center;

  &.showButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
}