.WhatsappFixedS {
    position: fixed;

    width: max(6vw, 6vh);
    height: max(6vw, 6vh);
    bottom: 2vh;
    right: 1vw;

    background-color: #25d366;
    color: #FFF;
    box-shadow: 1px 1px 2px #888;
    border-radius: 100%;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

    cursor: pointer;
    filter: brightness(1);

    transform: scale(1);
    transition: filter 0.5s, transform 0.5s;
    div {
        width: 100%;
        display: flex;
    }

    &:hover {
        filter: brightness(1.2);
        transform: scale(1.1);
    }
}