.container {
  height: var(--page-header-height);
  margin-bottom: calc(-1 * var(--page-header-height));
  padding: 2vh var(--page-padding);
  position: sticky;
  top: 0;

  
}

.content {
  height: 100%;
  display: flex;
  max-width: var(--page-max-width);
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  > div {
    flex: 2 1 0;
  }
}

.vr {
  font-family: fantasy;
  font-size: var(--title-font-size);
  color: white;
  text-shadow: 0px 0px 14px #0000005c;
}